:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #ff6c00;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 600;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ============= COMPONENTS ============= */
.modal-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;
}

.modal-btn-theme-dark {
  color: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social-links-list {
  display: flex;
  align-items: center;
}

.social-links-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  flex-shrink: 0;
  margin-right: 40px;
}

.socail-links-list-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-list-link {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
}

.social-links-list-link:hover,
.social-links-list-link:focus {
  color: var(--accent-color);
}

.suptitle {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.suptitle::before {
  content: "";
  width: 60px;
  height: 1px;

  margin-right: 20px;
}

.suptitle-theme-dark {
  color: rgba(157, 164, 189, 0.6);
}

.suptitle-theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.suptitle-theme-light {
  color: #303030;
}

.suptitle-theme-light::before {
  background-color: #303030;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.description-theme-dark {
  color: #9da4bd;
}

.description-theme-light {
  color: #555555;
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title-theme-dark {
  color: #ffffff;
}

.title-theme-light {
  color: #303030;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: fill 250ms linear, background-color 250ms linear;
}

.social-list-link:hover,
.social-list-link:focus {
  fill: var(--accent-color);
  background-color: #303030;
}
/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
  animation-duration: 1000ms;
  animation-iteration-count: 2;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms linear;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.tel-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
  color: #ffffff;
  transition: color 250ms linear;
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
/* ============= END HEADER ============= */

/* ============= HERO ============= */
.hero-container {
  display: flex;
}

.hero-social-links-list {
  transform: rotate(-90deg) translateX(-18px);
  transform-origin: left top;
}

.hero-left-side {
  display: flex;
  align-items: flex-end;
  width: 100px;
  padding-left: 34px;
  padding-bottom: 40px;
}

.hero-right-side {
  flex-grow: 1;
  background-color: #303030;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/hero/bg.jpg");
  background-size: cover;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero-description {
  max-width: 400px;
}
/* ============= END HERO ============= */

/* ============= ABOUT ============= */
.about-container {
  display: flex;
  justify-content: space-between;
}

.about-title {
  margin-bottom: 20px;
}

.about-description {
  max-width: 440px;
  margin-bottom: 20px;
}

.about-left-side,
.about-right-side {
  flex-basis: calc((100% / 2) - 30px);
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-text {
  max-width: 480px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}
/* ============= END ABOUT ============= */

/* ============= SERVICES ============= */
.services {
  background-image: url("../images/services/bg.png");
  background-size: cover;
  background-color: #111319;
}

.services-modal-btn {
  display: block;
  margin: 0 auto;
}

.services-title {
  margin-bottom: 44px;
}

.services-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.services-list {
  flex-basis: 50%;
  padding: 30px 40px;
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

/* 
4n-1

4 * 0 - 1 = -1;
4 * 1 - 1 = 3;
4 * 2 - 1 = 7;

4n - 2
4 * 0 - 2 = -2;
4 * 1 - 2 = 2;
4 * 2 - 2 = 6;

2,3,6,7
*/

.services-list:nth-child(4n-1),
.services-list:nth-child(4n-2) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.services-list-item {
  display: flex;
  align-items: baseline;
}

.services-list-item::before {
  flex-grow: 1;
  height: 1px;
  content: "";
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list-name,
.services-list-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services-list-name {
  order: -1;
}
/* ============= END SERVICES ============= */

/* ============= ADVANTAGES ============= */
.advantages-container {
  display: flex;
  justify-content: space-between;
}

.advantages-title {
  margin-bottom: 20px;
}

.advantages-description {
  max-width: 470px;
}

.advantages-left-side,
.advantages-right-side {
  flex-basis: calc((100% / 2) - 30px);
}

.advantages-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}

.advantages-list-item {
  flex-basis: 170px;
  padding: 20px;
  background-color: #f7f7f7;
}

.advantages-list-item:nth-child(odd) {
  margin-bottom: 30px;
}

.advantages-list-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 6px;
}

.advantages-list-desc {
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
/* ============= END ADVANTAGES ============= */

/* ============= MASTERS ============= */
.masters {
  background-color: #f7f7f7;
}

.masters-title {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /* justify-content: space-between; */
}

.masters-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.masters-list-content {
  padding-top: 30px;
  padding-left: 82px;
  padding-right: 82px;
}

.masters-list-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-list-position {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
/* ============= END MASTERS ============= */

/* ============= GALLERY ============= */
.gallery-suptitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
/* ============= END GALLERY ============= */
.contact-data {
  background-color: #191c26;
  background-image: url("../images/contact/bg.png");
  background-position: right center;
  background-size: 50% auto;
  background-repeat: no-repeat;
}

.contact-data-container {
  display: flex;
}

.contact-data-title {
  margin-bottom: 44px;
}

.feedback,
.contact-info {
  flex-basis: 50%;
}
/* ============= CONTACT INFORMATION ============= */
.contact-info {
  padding-left: 100px;
}

.contact-info-address {
  font-style: normal;
  max-width: 260px;
}

.contact-list {
  margin-bottom: 70px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  transition: color 250ms linear;
}

.contact-list-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 16px;
}

.contact-list-icon-map {
  align-self: baseline;
  margin-top: 6px;
}

.contact-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ============= END CONTACT INFORMATION ============= */

/* ============= FOOTER ============= */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
/* ============= END FOOTER ============= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.modal-form-field {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 6px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: teal;
  transition: background-color 250ms linear;
}

.modal-form-input:focus + .modal-form-icon {
  background-color: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: background-color 250ms linear;
}

.modal-form-message::placeholder {
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent-color);
  box-shadow: inset 0 0 0 4px #ffffff;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #303030;
  cursor: pointer;
  margin-right: 10px;
}
