.contact-data {
  background-color: #191c26;
  background-image: url("../images/contact/bg.png");
  background-position: right center;
  background-size: 50% auto;
  background-repeat: no-repeat;
}

.contact-data-container {
  display: flex;
}

.contact-data-title {
  margin-bottom: 44px;
}

.feedback,
.contact-info {
  flex-basis: 50%;
}
