.modal-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}

.modal-btn-theme-dark {
  color: #ffffff;
}
