.suptitle {
  @extend %align;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;

  &::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 20px;
  }
}

.suptitle-theme-dark {
  color: rgba(157, 164, 189, 0.6);

  &::before {
    background-color: rgba(157, 164, 189, 0.6);
  }
}

.suptitle-theme-light {
  color: #303030;

  &::before {
    background-color: #303030;
  }
}
