.container {
  padding-left: 15px;
  padding-right: 15px;
}

// 480+
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin: 0 auto;
  }
}

// 768+
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
